.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding: 10px;

  &-logo {
    &__img {
      max-width: 250px;
      width: 100%;
    }
  }

  &-nav {
    margin: 0;
    padding: 0;
  }

  &-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item { }

    &__link {
      padding: 20px;
      text-decoration: none;
      &:visited {
        color: inherit;
      }
    }
  }
}
