<header class="header">
  <section class="header-logo">
    <a [routerLink]="['/']">
      <img class="header-logo__img" src="./../../../assets/images/biotecsa-logo-black.png" alt="Laboratorios Biotecsa Logo" />
    </a>
  </section>
  <nav class="header-nav">
    <ul class="header-list">
      <li class="header-list__item">
        <a class="header-list__link" [routerLink]="['/']">Home</a>
      </li>
      <li class="header-list__item">
        <a class="header-list__link" [routerLink]="['dashboard', 'doctors']">Dashboard</a>
      </li>
      <li class="header-list__item">
        <a class="header-list__link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="header-list__item">
        <a class="header-list__link">Cerrar sesión</a>
      </li>
    </ul>
  </nav>
</header>
