<section class="modal">
    <div class="modal-close" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </div>
    <h2>AGREGAR NUEVO PACIENTE</h2>
    <mat-divider></mat-divider>
    <form
        class="grid-container"
        autocomplete="disabled"
        [formGroup]="patientForm"
    >
        <section class="grid-item">
            <mat-form-field>
                <mat-label>Nombre(s)</mat-label>
                <input
                    class="uppercase"
                    matInput
                    placeholder="Nombre(s)"
                    tabindex="1"
                    autocomplete="disabled"
                    formControlName="first_name"
                />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Apellido Materno</mat-label>
                <input
                    class="uppercase"
                    matInput
                    placeholder="Apellido Materno"
                    tabindex="3"
                    autocomplete="disabled"
                    formControlName="last_name"
                />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fecha de nacimiento</mat-label>
                <input
                    matInput
                    [min]="minDate"
                    [max]="maxDate"
                    [matDatepicker]="picker"
                    tabindex="5"
                    formControlName="date_birth"
                />
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                    #picker
                    startView="multi-year"
                    disabled="false"
                ></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Teléfono 2</mat-label>
                <input
                    matInput
                    placeholder="Teléfono 2"
                    tabindex="7"
                    autocomplete="disabled"
                    mask="(000) 000 00 00"
                    formControlName="phone2"
                />
            </mat-form-field>
        </section>
        <section class="grid-item">
            <mat-form-field>
                <mat-label>Apellido Paterno</mat-label>
                <input
                    class="uppercase"
                    matInput
                    placeholder="Apellido Paterno"
                    tabindex="2"
                    autocomplete="disabled"
                    formControlName="middle_name"
                />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sexo</mat-label>
                <mat-select tabindex="4" formControlName="gender">
                    <mat-option
                        *ngFor="let gender of genders"
                        [value]="gender.value"
                    >
                        {{ gender.name | uppercase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Teléfono 1</mat-label>
                <input
                    matInput
                    placeholder="Teléfono 1"
                    tabindex="6"
                    autocomplete="disabled"
                    mask="(000) 000 00 00"
                    formControlName="phone1"
                />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input
                    matInput
                    placeholder="Correo electrónico"
                    tabindex="8"
                    autocomplete="disabled"
                    formControlName="email"
                />
            </mat-form-field>
        </section>
    </form>
    <section class="grid-actions">
        <button
            class="grid-actions__button"
            mat-stroked-button
            color="primary"
            mat-dialog-close
        >
            <mat-icon>cancel</mat-icon>
            Cancelar
        </button>
        <button
            class="grid-actions__button"
            mat-flat-button
            color="primary"
            [disabled]="patientForm.invalid"
            (click)="createUpdateItem()"
        >
            <mat-icon>person_add</mat-icon>
            {{ mode === 'edit' ? 'EDITAR' : 'CREAR' }} PACIENTE
        </button>
    </section>
</section>
