<form class="login-form">
  <h2 class="login-title">Iniciar sesión</h2>
  <mat-form-field class="login-form-field" appearance="fill">
    <mat-label>Correo electrónico</mat-label>
    <input aria-label="Correo electrónico" matInput placeholder="hello@biotecsa.com" />
  </mat-form-field>
  <mat-form-field class="login-form-field" appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input aria-label="Contraseña" matInput />
  </mat-form-field>
  <section class="login-section">
    <button mat-raised-button color="primary">Iniciar sesión</button>
  </section>
</form>
