.login {
  &-form {
    display: grid;
    margin: 0 auto;
    max-width: 500px;
    min-width: 150px;
    place-items: center;
    width: 100%;
  }

  &-title {
    text-align: center;
    font-size: 28px;
  }

  &-form-field {
    min-width: 80%;
  }

  &-section {
    min-width: 80%;
    text-align: right;
  }
}
