<div class="policy">
    <div class="policy-container">
        <h1 class="title">Preguntas frecuentes</h1>
        <div>
            <h2 class="subtitle">1. ¿Qué es un laboratorio clínico?</h2>
            <p class="text">
                Un laboratorio clínico es una instalación donde se realizan análisis y pruebas médicas para diagnosticar enfermedades, monitorear tratamientos o evaluar la salud general del paciente.
            </p>
            <h2 class="subtitle">
                2. ¿Cómo puedo solicitar una cita para realizarme análisis?
            </h2>
            <p class="text">
                Las cita no es necesaria, solo visitando directamente nuestras instalaciones.
            </p>
            <h2 class="subtitle">
                3. ¿Necesito una orden médica para hacerme los estudios?
            </h2>
            <p class="text">
                Depende del tipo de análisis. Para pruebas rutinarias como hemogramas o perfiles metabólicos, generalmente se requiere una orden médica.
            </p>
            <h2 class="subtitle">
                4. ¿Es necesario estar en ayunas para todos los estudios?
            </h2>
            <p class="text">
                No todos los estudios requieren ayuno. Algunos, como los análisis de glucosa y colesterol, sí lo requieren. Le informaremos si es necesario cuando se contacte con nosotros.
            </p>
            <h2 class="subtitle">
                5. ¿Cuánto tiempo tardan los resultados de los análisis?
            </h2>
            <p class="text">
                La mayoría de los resultados están disponibles en 6 a 48 horas, pero algunos análisis especializados pueden demorar más tiempo.
            </p>
            <h2 class="subtitle">
                6. ¿Cómo recibiré los resultados de mis análisis?
            </h2>
            <p class="text">
                Puede recibir los resultados a través de correo electrónico o por otro médio electrónico designado por el laboratorio o retirarlos en nuestras instalaciones.
            </p>
            <h2 class="subtitle">
                7. ¿Qué tipos de análisis clínicos realizan?
            </h2>
            <p class="text">
                Ofrecemos una amplia gama de pruebas, que incluyen análisis de sangre, orina, heces, estudios hormonales, perfiles metabólicos, pruebas de embarazo, y más.
            </p>
            <h2 class="subtitle">
                8. ¿Cuáles son los métodos de pago aceptados?
            </h2>
            <p class="text">
                Aceptamos pagos en efectivo, tarjeta de crédito, tarjeta de débito y transferencias bancarias.
            </p>
            <h2 class="subtitle">
                9. ¿Cómo debo prepararme para un análisis de sangre?
            </h2>
            <p class="text">
                Dependiendo del análisis, puede requerir ayuno o evitar ciertos alimentos o medicamentos. Nuestro personal le proporcionará instrucciones específicas cuando programe su cita.
            </p>
            <h2 class="subtitle">
                10. ¿Ofrecen pruebas a domicilio?
            </h2>
            <p class="text">
                Sí, ofrecemos servicios a domicilio para pacientes que no pueden acudir al laboratorio. Este servicio debe solicitarse con anticipación. Algunas visitas pueden generar costo extra.
            </p>
            <h2 class="subtitle">
                11. ¿Los análisis de laboratorio son confidenciales?
            </h2>
            <p class="text">
                Sí, garantizamos la confidencialidad y seguridad de todos los resultados y la información del paciente.
            </p>
            <h2 class="subtitle">
                ¿Puedo llevar muestras de análisis recolectadas en casa?
            </h2>
            <p class="text">
                Sí, para algunos estudios, como análisis de orina o heces, es posible recolectar la muestra en casa. Se le proporcionarán instrucciones claras y los recipientes adecuados.
            </p>
        </div>
    </div>
</div>
