<section>
    <h3>
        {{ title }}
    </h3>
    <section class="mat-elevation-z8">
        <table
            mat-table
            matSort
            [dataSource]="dataSource"
            (matSortChange)="sortDataEvent($event)"
        >
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    ID de la orden
                </th>
                <td mat-cell *matCellDef="let row">
                    {{ row.order_id }}
                </td>
            </ng-container>
            <!-- Creation date Column -->
            <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Fecha de creación
                </th>
                <td mat-cell *matCellDef="let row">
                    {{ row.created_at | date : 'medium' | uppercase }}
                </td>
            </ng-container>
            <!-- General status Column -->
            <ng-container matColumnDef="generalStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Estatus general
                </th>
                <td mat-cell *matCellDef="let row">
                    <app-label
                        type="generalOrderStatus"
                        [value]="row.order_status_id"
                    >
                        {{
                            row.order_status_id
                                | getOrderStatus : 'generalOrderStatus'
                        }}
                    </app-label>
                </td>
            </ng-container>
            <!-- Payment status Column -->
            <ng-container matColumnDef="paymentStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Estatus de pago
                </th>
                <td mat-cell *matCellDef="let row">
                    <app-label
                        type="paymentStatus"
                        [value]="row.payment_status_id"
                    >
                        {{
                            row.payment_status_id
                                | getOrderStatus : 'paymentStatus'
                        }}
                    </app-label>
                </td>
            </ng-container>
            <!-- Deliver status column -->
            <ng-container matColumnDef="deliverStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Estatus de entrega
                </th>
                <td mat-cell *matCellDef="let row">
                    <app-label
                        type="deliveryStatus"
                        [value]="row.delivery_status_id"
                    >
                        {{
                            row.delivery_status_id
                                | getOrderStatus : 'deliveryStatus'
                        }}
                    </app-label>
                </td>
            </ng-container>
            <!-- Grand total column-->
            <ng-container matColumnDef="grandTotal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.grand_total }}
                </td>
            </ng-container>
            <!-- Balance column-->
            <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Pago pendiente
                </th>
                <td mat-cell *matCellDef="let row">
                    {{
                        row.balance
                            | mask
                                : 'separator.2'
                                : { thousandSeparator: ',', prefix: '$',
                                }
                    }}
                </td>
            </ng-container>
            <!-- Delete Detail -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Eliminar
                </th>
                <td mat-cell *matCellDef="let row; let i = index">
                    <a
                        class="cell-flex"
                        (click)="openDeleteDialog(row.order_id, $event, i)"
                    >
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns; let i = index"
                (click)="navigateToOrderQuote(row)"
            ></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row no-data-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">
                    <div class="table-error-message">
                        <p>
                            No hay ordenes agregadas aún, comienza agregando una orden
                        </p>
                        <div class="empty-container">
                            <mat-icon class="empty-icon">
                                create_new_folder
                            </mat-icon>
                        </div>
                        <button
                            mat-flat-button
                            color="primary"
                            (click)="notifyAddOrder()"
                        >
                            <mat-icon>post_add</mat-icon>
                            AGREGAR ORDEN Ó COTIZACIÓN
                        </button>
                    </div>
                </td>
            </tr>
        </table>
        <mat-paginator
            [pageSizeOptions]="[20, 40, 60, 100]"
            [pageSize]="20"
            aria-label="Cotizaciones por página"
        ></mat-paginator>
    </section>
</section>
