<section class="container">
    <h3>
        <mat-icon>{{ titleIcon ? titleIcon : 'timeline' }}</mat-icon>
        {{ title ? title : '- title temp' }}
    </h3>
    <mat-divider></mat-divider>
    <section>
        <div *ngIf="paymentsTransformed.length; else noPayments">
            <ng-container *ngFor="let note of paymentsTransformed">
                <app-historic-info
                    [historicInfoItem]="note"
                ></app-historic-info>
            </ng-container>
        </div>
        <ng-template #noPayments>
            <section>
                <h3>No hay pagos realizados</h3>
                <button>Agregar pago</button>
            </section>
        </ng-template>
    </section>
</section>
