<section class="container">
    <section>
        <h3>
            <mat-icon>{{ titleIcon ? titleIcon : 'timeline' }}</mat-icon>
            {{ title ? title : '- title temp' }}
        </h3>
        <mat-divider></mat-divider>
        <section>
            <div *ngIf="paymentsTransformed.length; else noPayments">
                <ng-container *ngFor="let payment of paymentsTransformed">
                    <app-historic-info
                        [historicInfoItem]="payment"
                        (deleteEmmiter)="
                            deletePaymentFromOrder(
                                payment.id?.toString() || '',
                                orderId
                            )
                        "
                    ></app-historic-info>
                </ng-container>
            </div>
            <ng-template #noPayments>
                <section>
                    <h4>No hay pagos realizados :(</h4>
                </section>
            </ng-template>
        </section>
    </section>
    <section class="actions">
        <button mat-flat-button color="accent" (click)="closeSidenav()">
            <mat-icon>close</mat-icon>
            Cerrar
        </button>
        <!-- The below condition is only allowed when payment has not been completed and
        when the order has not been cancelled -->
        <ng-container *ngIf="paymentStatusId === 2 && orderStatusId !== 2">
            <button
                mat-flat-button
                color="primary"
                (click)="openAddPaymentDialog()"
            >
                <mat-icon>add</mat-icon>
                Agregar pago
            </button>
        </ng-container>
    </section>
</section>
