<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" opened mode="side">
        <mat-list>
            <a class="sidenav-anchor-container" routerLink="/dashboard">
                <img
                    class="sidenav-img"
                    src="../../assets/images/Logo horizontal negativo - Biotecsa.png"
                    alt="Laboratorios Biotecsa"
                />
            </a>
        </mat-list>
        <section class="sidenav-section">
            <mat-nav-list>
                <ng-container *ngFor="let item of menu">
                    <a
                        mat-list-item
                        role="listitem"
                        class="mat-list-item"
                        [routerLink]="item.url"
                        [ngClass]="{ isActive: item.isActiveUrl }"
                        *ngIf="
                            roleService.hasAnyRole(
                                userRoles,
                                item.requiredRoles
                            )
                        "
                    >
                        <span class="mat-list-item__container">
                            <mat-icon>{{ item.icon }}</mat-icon>
                            <span class="mat-list-item__text">
                                {{ item.title }}
                            </span>
                        </span>
                    </a>
                </ng-container>
            </mat-nav-list>
            <mat-nav-list>
                <a
                    mat-list-item
                    class="mat-list-item"
                    (click)="authService.logout()"
                >
                    <span class="mat-list-item__container">
                        <mat-icon>logout</mat-icon>
                        <span class="mat-list-item__text">Cerrar sesión</span>
                    </span>
                </a>
            </mat-nav-list>
        </section>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <mat-toolbar class="toolbar">
            <span class="toolbar-title">¡HOLA {{ userData.first_name | uppercase }} 👋!</span>
            <button
                mat-icon-button
                aria-label="User menu with menu icon"
                [matMenuTriggerFor]="topMenu"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #topMenu="matMenu">
                <div class="user-menu-popup">
                    <div class="user-menu-icon">
                        {{ shortName ? (shortName | uppercase) : '-' }}
                    </div>
                    <div class="user-menu-content">
                        <div class="user-menu-text">
                            {{ fullName.trim() | titlecase }}
                        </div>
                        <div class="user-menu-text-sub">
                            {{ userData.email }}
                        </div>
                        <div
                            class="user-menu-text-sub"
                            *ngIf="userData.roles?.length"
                        >
                            <span *ngFor="let role of userData.roles">
                                {{ role }}
                            </span>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="authService.logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Cerrar sesión</span>
                </button>
            </mat-menu>
        </mat-toolbar>
        <main class="main">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
