<section class="discounts mat-elevation-z8">
    <h4
        class="title"
        matTooltip="Ésta sección es para agregar descuentos a las orden en general"
    >
        Descuentos agregados:
    </h4>
    <hr />
    <form [formGroup]="discountsParentForm">
        <div class="row">
            <section>
                <button
                    type="button"
                    color="primary"
                    mat-flat-button
                    (click)="addDiscount()"
                >
                    <mat-icon>add</mat-icon>
                    Agregar descuento
                </button>
            </section>
        </div>
        <ng-container formArrayName="discounts">
            <ul class="discounts-list">
                <li
                    [formGroupName]="index"
                    *ngFor="
                        let discountControl of discountsArrayControl.controls;
                        let index = index
                    "
                >
                    <div>
                        <div>
                            <h4>Descuento {{ index + 1 }}</h4>
                            <mat-form-field>
                                <mat-label>Descuento</mat-label>
                                <mat-select
                                    formControlName="discountPercentage"
                                >
                                    <mat-option
                                        autocomplete="disabled"
                                        [value]="discount.discountPercentage"
                                        (click)="
                                            selectDiscount(index, discount)
                                        "
                                        *ngFor="
                                            let discount of discountsOptionsList
                                        "
                                    >
                                        <em>{{ discount.name }}</em>
                                        -
                                        <strong>
                                            {{ discount.discountPercentage }}%
                                        </strong>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="action">
                        <button
                            mat-button
                            color="accent"
                            (click)="removeDiscount(index)"
                        >
                            <mat-icon>delete</mat-icon>
                            Eliminar
                        </button>
                    </div>
                </li>
                <div
                    class="no-discounts"
                    *ngIf="discountsArrayControl.controls.length === 0"
                >
                    <p>No hay descuentos agregados :(</p>
                </div>
            </ul>
        </ng-container>
    </form>
</section>
