<section class="discounts mat-elevation-z8">
    <h4
        class="title"
        matTooltip="Ésta sección es para agregar descuentos a las orden en general"
    >
        Descuentos agregados:
    </h4>
    <hr />
    <form [formGroup]="discountsParentForm">
        <div class="row">
            <section>
                <button
                    type="button"
                    color="primary"
                    mat-flat-button
                    (click)="addDiscount()"
                >
                    <mat-icon>add</mat-icon>
                    Agregar descuento
                </button>
            </section>
        </div>
        <ng-container formArrayName="discounts">
            <ul class="discounts-list">
                <li
                    [formGroupName]="index"
                    *ngFor="
                        let discountControl of discountsArrayControl.controls;
                        let index = index
                    "
                >
                    <div>
                        <div>
                            <h4>Descuento {{ index + 1 }}</h4>
                            <mat-form-field>
                                <mat-label>Descuento</mat-label>
                                <mat-select
                                    formControlName="discountPercentage"
                                >
                                    <mat-option
                                        autocomplete="disabled"
                                        [value]="discount.discountPercentage"
                                        (click)="
                                            selectDiscount(index, discount)
                                        "
                                        *ngFor="
                                            let discount of discountsOptionsList
                                        "
                                    >
                                        {{ discount.name }} -
                                        <!-- {{ discount?.discountPercentage }}% -->
                                        {{
                                            discountControl.value[
                                                'discountPercentage'
                                            ]
                                        }}%
                                    </mat-option>
                                    <!-- TODO: the discount_id 999 is harcoded, is for a custom discount -->
                                    <!-- <mat-option
                                        autocomplete="disabled"
                                        value="0"
                                        (click)="
                                            selectDiscount(index, {
                                                discount_id: -1,
                                                name: 'custom',
                                                discountPercentage: 0,
                                                isActive: true
                                            })
                                        "
                                    >
                                        * PERSONALIZADO
                                    </mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field
                                *ngIf="
                                    discountControl.value['name']?.toLowerCase() === 'personalizado'
                                "
                            >
                            <mat-label>Descuento especializado:</mat-label>
                                <input
                                    formControlName="discountPercentage"
                                    matInput
                                    placeholder="% de descuento"
                                    tabindex=""
                                    autocomplete="disabled"
                                    suffix=" %"
                                    mask="separator.2"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="action">
                        <button
                            mat-button
                            color="accent"
                            (click)="removeDiscount(index)"
                        >
                            <mat-icon>delete</mat-icon>
                            Eliminar
                        </button>
                    </div>
                </li>
                <div
                    class="no-discounts"
                    *ngIf="discountsArrayControl.controls.length === 0"
                >
                    <p>
                        No hay descuentos agregados :(
                    </p>
                </div>
            </ul>
        </ng-container>
    </form>
</section>
