<div class="policy">
    <div class="policy-container">
        <h1 class="title">Aviso de privacidad</h1>
        <div>
            <h2 class="subtitle">1.- Identidad y Domicilio del responsable</h2>
            <p class="text">
                Laboratorios Biotecsa(“Laboratorios Biotecsa”) con domicilio en Berriozabal número 1027, municipio San
                Miguel Xoxtla, código postal 72760 en Puebla, México, es responsable del tratamiento y protección de sus
                datos personales.
            </p>
            <p class="text">¿Cómo contactarnos?</p>
            <p class="text">Correo electrónico: <strong>biotecsalab@hotmail.com</strong></p>
            <p class="text">Teléfono: <strong>(222)-8-87-56-34</strong></p>
            <h2 class="subtitle">
                2.- Las finalidades del tratamiento de los datos personales recabados por Laboratorios Biotecsa
            </h2>
            <p class="text">
                Los datos personales que Laboratorios Biotecsa recaba de usted por correo electrónico, de medios electrónicos, del centro de información, directamente en su sucursal, mediante chats establecidos de atención a usuarios, por teléfono y redes sociales, serán utilizados para las siguientes finalidades que son necesarias para la relación jurídica que existe en virtud de los servicios de análisis clínicos que ofrece Laboratorios Biotecsa.
            </p>
            <p class="text">
                Laboratorios Biotecsa requiere utilizar sus datos personales para incluirlo en su base de datos o registro de pacientes/usuarios, para brindarle el servicio de laboratorio de análisis clínicos, entrega y envió de resultados, para emitir la factura correspondiente a los servicios, para administrar y operar lo servicios que Laboratorios Biotecsa ofrece, evaluar la calidad del servicio, así como para cumplir con las obligaciones derivadas de la adquisición de sus servicios contratados. Laboratorios Biotecsa utilizará sus datos personales para fines administrativos, para atender cualquier queja entablada por los servicios que presta Laboratorios Biotecsa y para cumplir con cualquier obligación legal, así como para defender o entablar una demanda, reclamación, queja, o trámite ante alguna autoridad. En términos del artículo 10, fracción IV de la LFPDPPP no es necesario su consentimiento para el tratamiento de estos datos personales.
            </p>
            <h2 class="subtitle">
                3.- Datos personales recabados por Laboratorios Biotecsa
            </h2>
            <p class="text">
                Recabamos sus datos personales de forma directa cuando usted mismo nos los proporciona por los medios anteriormente mencionados. Los datos que obtenemos por este medio pueden ser, entre otros:
            </p>
            <div class="text">
                <ul>
                    <li>Nombre</li>
                    <li>Edad </li>
                    <li>Sexo</li>
                    <li>Teléfono</li>
                    <li>Correo electrónico</li>
                    <li>Datos de facturación</li>
                    <li>Nombre de médico tratante</li>
                </ul>
            </div>
            <h2 class="subtitle">
                4.- Mecanismos y procedimiento para que, en su caso, el titular pueda revocar su consentimiento al tratamiento de sus datos personales (Derechos ARCO)
            </h2>
            <p class="text">
                Usted tiene derecho de acceder a sus datos personales que poseemos y a los detalles del tratamiento de los mismos, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios , deberes y obligaciones previstas en este Aviso de Privacidad o conforme a la normatividad aplicable (Cancelación); así como oponerse al uso de sus datos personales para los fines establecidos en este Aviso de Privacidad (Oposición). Estos derechos se conocen como derechos ARCO.
            </p>
            <p class="text">
                Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva por correo electrónico, teléfono, escrito o verbalmente en las instalaciones de Laboratorios Biotecsa.
            </p>
            <p class="text">
                Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, usted podrá llamar al siguiente número telefónico <strong>(222)-88-7-56-34</strong> o escribir al correo <strong>biotecsalab@hotmail.com</strong>, que dará trámite a las solicitudes para el ejercicio de estos derechos, y atenderá cualquier duda que pudiera tener respecto al tratamiento de su información.
            </p>
            <p class="text">
                El titular tendrá derecho a decidir porque medio le gustaría recibir información del estatus de su solicitud, ya sea por correo electrónico o por teléfono.
            </p>
            <h2 class="subtitle">
                ¿Cómo puede revocar su consentimiento para el uso de sus datos personales?
            </h2>
            <p class="text">
                En todo momento usted podrá revocar el consentimiento que nos ha otorgado para el tratamiento de sus datos personales, a fin de que dejemos de hacer uso de los mismos. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que, para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.
            </p>
            <p class="text">
                Para revocar su consentimiento deberá presentar su solicitud verbal o por escrito en las instalaciones de Laboratorios Biotecsa.
            </p>
            <p class="text">
                Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, usted podrá llamar al siguiente número telefónico <strong>(222)-8-87-56-34</strong> o escribir al correo <strong>biotecsalab@hotmail.com</strong>, que dará trámite a las solicitudes para el ejercicio de estos derechos, y atenderá cualquier duda que pudiera tener respecto al tratamiento de su información.
            </p>
            <h2 class="subtitle">
                5.- Cambios o modificaciones en el Aviso de Privacidad
            </h2>
            <p class="text">
                Laboratorios Biotecsa podrá modificar, cambiar o actualizar el presente Aviso de Privacidad derivado de nuevos requerimientos legales, de nuestras propias necesidades por los servicios que ofrecemos, de nuestras prácticas de privacidad, de cambios a nuestro modelo de negocio o por otras causas.
            </p>
            <p class="text">
                Estas modificaciones estarán disponibles al público a través de los siguientes medios: (i) anuncios visibles en nuestros establecimientos o centros de atención a clientes; (ii) trípticos o folletos disponibles en nuestros establecimientos o centros de atención a clientes; (iii) o se las haremos llegar al último correo electrónico que nos haya proporcionado cuando se solicite.
            </p>
            <h2 class="subtitle">
                6.- ¿Con quién compartimos su información personal y para qué fines?
            </h2>
            <p class="text">
                Sus datos personales pueden ser transferidos y tratados dentro y fuera del país, por personas distintas a Laboratorios Biotecsa. En ese sentido, su información puede ser compartida con Biolab Laboratorio de Análisis Clínicos, para Maquila de Análisis Clínicos.
            </p>
            <p class="text">
                Si usted no manifiesta su oposición para que sus datos personales sean transferidos, se entenderá que ha otorgado su consentimiento para ello.
            </p>
            <p class="text">
                La fecha de la última actualización al presente aviso de privacidad: 21 de febrero del 2022.
            </p>
        </div>
    </div>
</div>
