<div class="policy">
    <div class="policy-container">
        <h1 class="title">Aviso de privacidad</h1>
        <div>
            <h2 class="subtitle">1.- Identidad y Domicilio del responsable</h2>
            <p class="text">
                Laboratorios Biotecsa(“Laboratorios Biotecsa”) con domicilio en Berriozabal número 1027, municipio San Miguel Xoxtla, código postal 72760 en Puebla, México, es responsable del tratamiento y protección de sus datos personales.

                ¿Cómo contactarnos?

                Correo electrónico: biotecsalab@hotmail.com

                Teléfono: (222)-8-87-56-34
            </p>
        </div>
    </div>
</div>
