<section class="summary mat-elevation-z8">
    <h4 class="title">Resúmen de la orden</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="item">Total</div>
            <div class="item item--right">$100</div>
        </div>
        <div class="row">
            <div class="item">Subtotal</div>
            <div class="item item--right">$86.2</div>
        </div>
        <div class="row">
            <div class="item">Descuento</div>
            <div class="item item--right">$86.2</div>
        </div>
        <div class="row">
            <div class="item">IVA</div>
            <div class="item item--right">$86.2</div>
        </div>
        <div class="row">
            <div class="item item--grand">Total a pagar</div>
            <div class="item item--right item--grand">$00.00</div>
        </div>
    </div>
</section>
