<section class="summary mat-elevation-z8">
    <h4 class="title">Resúmen de la orden</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="item">Total</div>
            <div class="item item--right">
                {{ total
                    | mask
                        : 'separator.2'
                        : { thousandSeparator: ',', prefix: '$',
                        }
                }}
            </div>
        </div>
        <div class="row">
            <div class="item">Subtotal</div>
            <div class="item item--right">
                {{ subtotal
                    | mask
                        : 'separator.2'
                        : { thousandSeparator: ',', prefix: '$',
                        }
                }}
            </div>
        </div>
        <div class="row">
            <div class="item">Descuento</div>
            <div class="item item--right">
                {{ discount
                    | mask
                        : 'separator.2'
                        : { thousandSeparator: ',', prefix: '$',
                        }
                }}
            </div>
        </div>
        <div class="row">
            <div class="item">IVA</div>
            <div class="item item--right">
                {{ tax
                    | mask
                        : 'separator.2'
                        : { thousandSeparator: ',', prefix: '$',
                        }
                }}
            </div>
        </div>
        <div class="row">
            <div class="item item--grand">Total a pagar</div>
            <div class="item item--right item--grand">
                {{ grandTotal
                    | mask
                        : 'separator.2'
                        : { thousandSeparator: ',', prefix: '$',
                        }
                }}
            </div>
        </div>
    </div>
</section>
