<section>
    <h1>
        <a class="title-link" routerLink="/dashboard/patients">PACIENTES</a> /
        <span class="title-link title-link--brand">
            {{ patient.first_name }} {{ patient.middle_name }}
            {{ patient.last_name }}
        </span>
        <button
            mat-icon-button
            matTooltip="Copiar"
            [cdkCopyToClipboard]="
                patient.first_name +
                ' ' +
                patient.middle_name +
                ' ' +
                patient.last_name
            "
        >
            <mat-icon>content_copy</mat-icon>
        </button>
    </h1>
    <mat-divider class="divider"></mat-divider>
    <section class="patient-container">
        <!-- Patient detail -->
        <section class="patient-detail">
            <h3 class="subtitle">
                <mat-icon>person</mat-icon>
                <span>DATOS DEL PACIENTE</span>
            </h3>
            <div class="patient-text-wrapper">
                <p class="patient-text">ID DEL PACIENTE</p>
                <p class="patient-text patient-text--value">
                    {{ patient.patient_id }}
                </p>
            </div>
            <div class="patient-text-wrapper">
                <p class="patient-text">NOMBRE COMPLETO</p>
                <p class="patient-text patient-text--value">
                    {{ patient.first_name }} {{ patient.middle_name }}
                    {{ patient.last_name }}
                    <button
                        mat-icon-button
                        matTooltip="Copiar"
                        [cdkCopyToClipboard]="
                            patient.first_name +
                            ' ' +
                            patient.middle_name +
                            ' ' +
                            patient.last_name
                        "
                    >
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </p>
            </div>
            <div class="patient-text-wrapper patient-text-wrapper--flex">
                <div>
                    <p class="patient-text">EDAD</p>
                    <p class="patient-text patient-text--value">
                        {{ patient.age }} AÑOS
                    </p>
                </div>
                <div>
                    <p class="patient-text">FECHA DE NACIMIENTO</p>
                    <p class="patient-text patient-text--value">
                        {{ patient.date_birth | date : 'longDate' | uppercase }}
                    </p>
                </div>
            </div>
            <div class="patient-text-wrapper">
                <p class="patient-text">CORREO</p>
                <p class="patient-text patient-text--value">
                    {{ patient.email }}
                </p>
            </div>
            <div class="patient-text-wrapper patient-text-wrapper--flex">
                <div>
                    <p class="patient-text">TELEFONO 1</p>
                    <p class="patient-text patient-text--value">
                        {{
                            patient.phone1
                                ? (patient.phone1 | mask : '(000) 000-0000')
                                : '-'
                        }}
                    </p>
                </div>
                <div>
                    <p class="patient-text">TELEFONO 2</p>
                    <p class="patient-text patient-text--value">
                        {{
                            patient.phone2
                                ? (patient.phone2 | mask : '(000) 000-0000')
                                : '-'
                        }}
                    </p>
                </div>
            </div>
            <div class="patient-text-wrapper">
                <p class="patient-text">FECHA DE CREACIÓN</p>
                <p class="patient-text patient-text--value">06 ENERO 2022</p>
            </div>
            <div class="patient-text-wrapper">
                <p class="patient-text">FECHA DE ÚLTIMA MODIFICACIÓN</p>
                <p class="patient-text patient-text--value">
                    {{ patient.updated_at | date : 'medium' | uppercase }}
                </p>
            </div>
        </section>
        <!-- Right side -->
        <section class="patient-orders">
            <section class="container-actions">
                <button
                    mat-flat-button
                    color="primary"
                    (click)="openCreateOrderQuote()"
                >
                    <mat-icon>post_add</mat-icon>
                    AGREGAR ORDEN Ó COTIZACIÓN
                </button>
            </section>
            <section class="patient-container-orders">
                <mat-tab-group>
                    <mat-tab
                        label="ORDENES ({{ patientAllOrders.length }})"
                    >
                        <section class="mat-tab-container">
                            <app-orders
                                title="Ordenes"
                                [incomingOrdersQuotes]="patientAllOrders"
                                (setNewincomingOrdersQuotes)="
                                    setNewincomingOrdersQuotes($event)
                                "
                            ></app-orders>
                        </section>
                    </mat-tab>
                    <mat-tab
                        label="COTIZACIONES ({{ patientAllQuotes.length }})"
                    >
                        <section class="mat-tab-container">
                            <app-orders
                                title="Cotizaciones"
                                [incomingOrdersQuotes]="patientAllQuotes"
                                (setNewincomingOrdersQuotes)="
                                    setNewincomingOrdersQuotes($event)
                                "
                            ></app-orders>
                        </section>
                    </mat-tab>
                </mat-tab-group>
            </section>
        </section>
    </section>
</section>
