<section class="order-detail">
    <h1 class="title">
        <a class="title-link" routerLink="/dashboard/patients">PACIENTES</a> /
        <a class="title-link title-link--brand" [routerLink]="['/dashboard', 'patients', orderId]">
          ENRIQUE DELGADO TECAYEHUATL
        </a> /
        DETALLE
    </h1>
    <mat-divider class="divider"></mat-divider>
    <mat-card class="card-detail">
        <h2 class="subtitle">DATOS GENERALES</h2>
        <mat-divider class="divider"></mat-divider>
        <section class="card-detail-container">
            <section class="card-detail-col">
                <section class="card-detail-text-container">
                    <p class="card-detail-text">ID DEL PACIENTE:</p>
                    <p class="card-detail-text card-detail-text--value">
                        1234-1234-1234-1232
                    </p>
                </section>
                <section class="card-detail-text-container">
                    <p class="card-detail-text">NOMBRE DEL PACIENTE:</p>
                    <p class="card-detail-text card-detail-text--value">
                        ENRIQUE DELGADO TECAYEHUATL
                    </p>
                </section>
                <section class="card-detail-text-container">
                    <p class="card-detail-text">NOMBRE DEL MÉDICO:</p>
                    <p class="card-detail-text card-detail-text--value">
                        SEBASTIÁN RAMOS PALACIOS
                    </p>
                </section>
            </section>
            <section class="card-detail-col">
                <section class="card-detail-text-container">
                    <p class="card-detail-text">ESTADO DE LA ORDEN:</p>
                    <p class="card-detail-text card-detail-text--value">
                        EN CURSO
                    </p>
                </section>
                <section class="card-detail-text-container">
                    <p class="card-detail-text">ESTATUS DEL PAGO:</p>
                    <p class="card-detail-text card-detail-text--value">
                        PENDIENTE DE LIQUIDAR
                    </p>
                </section>
                <section class="card-detail-text-container">
                    <p class="card-detail-text">ESTATUS DE ENTREGA:</p>
                    <p class="card-detail-text card-detail-text--value">
                        SIN ENTREGAR
                    </p>
                </section>
            </section>
            <section class="card-detail-col">
                <section class="card-detail-text-container">
                    <p class="card-detail-text">DÍAS DE ENTREGA:</p>
                    <p class="card-detail-text card-detail-text--value">
                        1 DÍA
                    </p>
                </section>
                <section class="card-detail-text-container">
                    <p class="card-detail-text">CARTA RESPONSIVA:</p>
                    <p class="card-detail-text card-detail-text--value">
                        NO FIRMADA <mat-icon>print</mat-icon>
                    </p>
                </section>
                <section class="card-detail-text-container">
                    <p class="card-detail-text">FECHA DE CREACIÓN:</p>
                    <p class="card-detail-text card-detail-text--value">
                        14 AGOSTO 2022
                    </p>
                </section>
            </section>
            <section class="card-detail-col">
                <section class="card-detail-text-container">
                    <p class="card-detail-text">VER PAGOS REALIZADOS</p>
                    <!-- <p class="card-detail-text card-detail-text--value">
                        EN CURSO
                    </p> -->
                </section>
                <section class="card-detail-text-container">
                    <p class="card-detail-text">IMPRIMIR ETIQUETAS DE TUBOS</p>
                    <!-- <p class="card-detail-text card-detail-text--value">
                        PENDIENTE DE LIQUIDAR
                    </p> -->
                </section>
                <section class="card-detail-text-container">
                    <p class="card-detail-text">VER HISTORIAL</p>
                    <!-- <p class="card-detail-text card-detail-text--value">
                        SIN ENTREGAR
                    </p> -->
                </section>
                <section class="card-detail-text-container">
                    <p class="card-detail-text">VER NOTAS</p>
                    <!-- <p class="card-detail-text card-detail-text--value">
                        1 DÍA
                    </p> -->
                </section>
                <section class="card-detail-text-container">
                    <p class="card-detail-text">ACTUAL DEUDA:</p>
                    <p class="card-detail-text card-detail-text--value">
                        $100.00
                    </p>
                </section>
            </section>
            <section class="card-detail-col">
                <section class="card-detail-text-container">
                    <p class="card-detail-text">CREADO POR:</p>
                    <p class="card-detail-text card-detail-text--value">
                        AGUSTINA TECAYEHUATL RODRIGUEZ
                    </p>
                </section>
                <section class="card-detail-text-container">
                    <p class="card-detail-text">CANCELAR ORDEN:</p>
                    <p class="card-detail-text card-detail-text--value">
                        ELIMINAR ORDEN <mat-icon>delete</mat-icon>
                    </p>
                </section>
            </section>
        </section>
    </mat-card>
    <mat-card class="card-detail">
        <h2 class="subtitle">ESTUDIOS REALIZADOS</h2>
        <mat-divider class="divider"></mat-divider>
        <div class="studies-container">
            <mat-card
                class="mat-elevation-z8 studies__item studies__item--studies"
            >
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            ID
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.id }}
                        </td>
                    </ng-container>
                    <!-- Added date Column -->
                    <ng-container matColumnDef="creationDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Fecha de creación
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.creationDate }}
                        </td>
                    </ng-container>
                    <!-- Study name Column -->
                    <ng-container matColumnDef="studyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Nombre del estudio
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.studyName }}
                        </td>
                    </ng-container>
                    <!-- Alias Column -->
                    <ng-container matColumnDef="alias">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Alias
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.alias }}
                        </td>
                    </ng-container>
                    <!-- Price status -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Precio
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.price }}
                        </td>
                    </ng-container>
                    <!-- Discount Detail -->
                    <ng-container matColumnDef="discount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Descuento
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.discount }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                    ></tr>
                </table>
                <mat-paginator
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page of users"
                ></mat-paginator>
            </mat-card>
            <section class="studies__item studies__item--summary">
                <mat-card class="summary">
                    <h4>Resumen de la orden</h4>
                    <mat-divider class="divider"></mat-divider>
                    <div class="summary-text-container">
                        <p class="summary-text-left">Total</p>
                        <p class="summary-text-right">$100</p>
                    </div>
                    <div class="summary-text-container">
                        <p class="summary-text-left">Subtotal</p>
                        <p class="summary-text-right">$86.2</p>
                    </div>
                    <div class="summary-text-container">
                        <p class="summary-text-left">Descuento</p>
                        <p class="summary-text-right">$10</p>
                    </div>
                    <div class="summary-text-container">
                        <p class="summary-text-left">IVA</p>
                        <p class="summary-text-right">$16</p>
                    </div>
                    <div class="summary-text-container">
                        <p class="summary-text-left">Total a pagar</p>
                        <p class="summary-text-right">$88</p>
                    </div>
                </mat-card>
                <mat-card class="discounts">
                    <h4>Descuentos aplicados</h4>
                    <div class="summary-text-container">
                        <p class="summary-text-left">INAPAM</p>
                        <p class="summary-text-right">10%</p>
                    </div>
                    <div class="summary-text-container">
                        <p class="summary-text-left">LUNES10</p>
                        <p class="summary-text-right">10%</p>
                    </div>
                    <div class="summary-text-container">
                        <p class="summary-text-left">LUNES10</p>
                        <p class="summary-text-right">10%</p>
                    </div>
                </mat-card>
            </section>
        </div>
    </mat-card>
</section>
