<mat-sidenav-container>
    <mat-sidenav
        #sidenav
        position="end"
        mode="over"
        disableClose="true"
        fixedInViewport="false"
    >
        <main class="main">
            <div class="main-close-container">
                <mat-icon
                    class="close"
                    (click)="closeSidenav()"
                    *ngIf="!isLoading"
                >
                    close
                </mat-icon>
            </div>
            <ng-template appAdHost></ng-template>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
        </main>
    </mat-sidenav>
    <mat-sidenav-content>
        <section class="order-detail">
            <h1 class="title">
                <a class="title-link" routerLink="/dashboard/patients">
                    PACIENTES
                </a>
                /
                <a
                    class="title-link title-link--brand"
                    [routerLink]="['/dashboard', 'patients', patientId]"
                >
                    {{ orderDetail.patient?.first_name }}
                    {{ orderDetail.patient?.middle_name }}
                    {{ orderDetail.patient?.last_name }}
                </a>
                /DETALLE
            </h1>
            <mat-divider class="divider"></mat-divider>
            <mat-card class="card-detail">
                <h2 class="subtitle">DATOS GENERALES</h2>
                <mat-divider class="divider"></mat-divider>
                <section class="card-detail-container">
                    <section class="card-detail-col">
                        <section class="card-detail-text-container">
                            <p class="card-detail-text">ID DEL PACIENTE:</p>
                            <p class="card-detail-text card-detail-text--value">
                                {{ orderDetail.patient?.patient_id }}
                            </p>
                        </section>
                        <section class="card-detail-text-container">
                            <p class="card-detail-text">NOMBRE DEL PACIENTE:</p>
                            <p class="card-detail-text card-detail-text--value">
                                {{ orderDetail.patient?.first_name }}
                                {{ orderDetail.patient?.middle_name }}
                                {{ orderDetail.patient?.last_name }}
                            </p>
                        </section>
                        <section class="card-detail-text-container">
                            <p class="card-detail-text">NOMBRE DEL MÉDICO:</p>
                            <p class="card-detail-text card-detail-text--value">
                                {{ orderDetail.doctor?.first_name }}
                                {{ orderDetail.doctor?.middle_name }}
                                {{ orderDetail.doctor?.last_name }}
                            </p>
                        </section>
                    </section>
                    <section class="card-detail-col">
                        <section class="card-detail-text-container">
                            <p class="card-detail-text">
                                ESTADO DE LA ORDEN:
                                <mat-icon
                                    matTooltip="EN CURSO: Cuando no se han marcado como completados uno o más estudios. ESTUDIOS COMPLETADOS: Cuando se han marcado todos los estudios como finalizados. CANCELADO: Cuando la orden ha sido cancelada."
                                >
                                    help
                                </mat-icon>
                            </p>
                            <p class="card-detail-text card-detail-text--value">
                                <app-label
                                    type="generalOrderStatus"
                                    [value]="orderDetail.order_status_id"
                                >
                                    {{
                                        orderDetail.order_status_id
                                            | getOrderStatus
                                                : 'generalOrderStatus'
                                    }}
                                </app-label>
                            </p>
                        </section>
                        <section class="card-detail-text-container">
                            <p class="card-detail-text">
                                ESTATUS DEL PAGO:
                                <mat-icon
                                    matTooltip="PENDIENTE: Cuando no se ha liquidado el monto total de la orden. COMPLETADO: Cuando se ha completado el pago de los estudios. CANCELADO: Cuando la orden ha sido cancelada."
                                >
                                    help
                                </mat-icon>
                            </p>
                            <p class="card-detail-text card-detail-text--value">
                                <app-label
                                    type="paymentStatus"
                                    [value]="orderDetail.payment_status_id"
                                >
                                    {{
                                        orderDetail.payment_status_id
                                            | getOrderStatus : 'paymentStatus'
                                    }}
                                </app-label>
                            </p>
                        </section>
                        <section class="card-detail-text-container">
                            <p class="card-detail-text">
                                ESTATUS DE ENTREGA:
                                <mat-icon
                                    matTooltip="ENTREGADO: Cuando todos los estudios han sido marcado como completados y los resultados se entregaron. NO ENTREGADO: Cuando no se han entregado los resultados. CANCELADO: Cuando la orden ha sido cancelada."
                                >
                                    help
                                </mat-icon>
                            </p>
                            <p class="card-detail-text card-detail-text--value">
                                <app-label
                                    type="deliveryStatus"
                                    [value]="orderDetail.delivery_status_id"
                                >
                                    {{
                                        orderDetail.delivery_status_id
                                            | getOrderStatus : 'deliveryStatus'
                                    }}
                                </app-label>
                            </p>
                        </section>
                    </section>
                    <section class="card-detail-col">
                        <section class="card-detail-text-container">
                            <p class="card-detail-text">DÍAS DE ENTREGA:</p>
                            <p class="card-detail-text card-detail-text--value">
                                {{ orderDetail.delivery_days }}
                            </p>
                        </section>
                        <!-- <section class="card-detail-text-container">
                            <p class="card-detail-text">CARTA RESPONSIVA:</p>
                            <p class="card-detail-text card-detail-text--value">
                                <mat-icon>print</mat-icon>
                                [PENDING...]
                            </p>
                        </section> -->
                        <section class="card-detail-text-container">
                            <p class="card-detail-text">FECHA DE CREACIÓN:</p>
                            <p class="card-detail-text card-detail-text--value">
                                {{
                                    orderDetail.created_at
                                        | date : 'medium'
                                        | uppercase
                                }}
                            </p>
                        </section>
                    </section>
                    <section class="card-detail-col">
                        <section class="card-detail-text-container">
                            <span class="card-detail-text underline cursor">
                                <a
                                    (click)="
                                        renderDynamicComponent(
                                            'historicPayment'
                                        )
                                    "
                                    [matBadge]="
                                        orderDetail.order_payments?.length
                                    "
                                    matBadgeOverlap="false"
                                    matBadgeColor="primary"
                                >
                                    VER PAGOS REALIZADOS
                                </a>
                            </span>
                        </section>
                        <!-- <section class="card-detail-text-container">
                            <a
                                class="card-detail-text underline cursor"
                                (click)="
                                    renderDynamicComponent('historicActivity')
                                "
                            >
                                VER HISTORIAL
                            </a>
                        </section> -->
                        <section class="card-detail-text-container">
                            <span class="card-detail-text underline cursor">
                                <a
                                    (click)="renderDynamicComponent('notes')"
                                    [matBadge]="orderDetail.order_notes?.length"
                                    matBadgeOverlap="false"
                                    matBadgeColor="primary"
                                >
                                    VER NOTAS
                                </a>
                            </span>
                        </section>
                        <!-- <section class="card-detail-text-container">
                            <p
                                class="card-detail-text"
                                (click)="
                                    getBarcodeLabel(orderDetail.order_id || '')
                                "
                            >
                                IMPRIMIR ETIQUETAS DE TUBOS
                            </p>
                        </section> -->
                        <section
                            class="card-detail-text-container underline cursor"
                        >
                            <p
                                class="card-detail-text"
                                (click)="
                                    openAndGeneratePdfOrderQuote(
                                        orderDetail.order_id || ''
                                    )
                                "
                            >
                                <mat-icon>print</mat-icon>
                                IMPRIMIR COTIZACION U ORDEN
                            </p>
                        </section>
                        <section class="card-detail-text-container">
                            <p class="card-detail-text">ACTUAL DEUDA:</p>
                            <p class="card-detail-text card-detail-text--high">
                                {{
                                    orderDetail.balance || 0
                                        | mask : 'separator.2'
                                        : {
                                            thousandSeparator: ',',
                                            prefix: '$',
                                        }
                                }}
                            </p>
                        </section>
                    </section>
                    <section class="card-detail-col">
                        <section class="card-detail-text-container">
                            <p class="card-detail-text">ORDEN CREADA POR:</p>
                            <p class="card-detail-text card-detail-text--value">
                                {{ orderDetail.user?.first_name }}
                                {{ orderDetail.user?.middle_name }}
                                {{ orderDetail.user?.last_name }}
                            </p>
                        </section>
                        <section class="card-detail-text-container">
                            <ng-container
                                [ngSwitch]="orderDetail.order_status_id"
                            >
                                <ng-template [ngSwitchCase]="1">
                                    <p class="card-detail-text">
                                        CANCELAR ORDEN:
                                        <mat-icon
                                            matTooltip="Si cancela la orden no podrá ser modificada y tendrá que crear una nueva orden"
                                        >
                                            help
                                        </mat-icon>
                                    </p>
                                    <button
                                        color="warn"
                                        mat-button
                                        matTooltip="CANCELAR ORDEN"
                                        (click)="openCancelOrderDialog()"
                                    >
                                        <mat-icon>do_not_disturb_on</mat-icon>
                                        CANCELAR ORDEN
                                    </button>
                                </ng-template>
                            </ng-container>
                            <ng-container
                                [ngSwitch]="orderDetail.delivery_status_id"
                            >
                                <p class="card-detail-text">
                                    MARCAR COMO ENTREGADO:
                                    <mat-icon
                                        matTooltip="Para poder marcar como entregado todos los estudios de la sección 'ESTUDIOS REALIZADOS' tuvieron que haber sido marcados como completados o trabajados."
                                    >
                                        help
                                    </mat-icon>
                                </p>
                                <ng-template [ngSwitchCase]="1">
                                    <p
                                        class="card-detail-text card-detail-text--value"
                                    >
                                        Estos estudios han sido entregados
                                    </p>
                                </ng-template>
                                <ng-template [ngSwitchCase]="2">
                                    <button
                                        color="primary"
                                        mat-button
                                        (click)="
                                            openChangeDeliverStatusDialog()
                                        "
                                    >
                                        ENTREGAR
                                    </button>
                                </ng-template>
                                <ng-template [ngSwitchCase]="3">
                                    <p
                                        class="card-detail-text card-detail-text--value"
                                    >
                                        Orden cancelada
                                    </p>
                                </ng-template>
                            </ng-container>
                        </section>
                    </section>
                </section>
            </mat-card>
            <mat-card class="card-detail">
                <h2 class="subtitle">ESTUDIOS REALIZADOS</h2>
                <mat-divider class="divider"></mat-divider>
                <div class="studies-container">
                    <mat-card
                        class="mat-elevation-z8 studies__item studies__item--studies"
                    >
                        <table mat-table [dataSource]="dataSource" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    ID
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.study_id }}
                                </td>
                            </ng-container>
                            <!-- Study name Column -->
                            <ng-container matColumnDef="studyName">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Nombre del estudio
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.study?.name }}
                                </td>
                            </ng-container>
                            <!-- Alias Column -->
                            <ng-container matColumnDef="alias">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Alias
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.study?.alias }}
                                </td>
                            </ng-container>
                            <!-- Delivery days -->
                            <ng-container matColumnDef="deliveryDays">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Días de entrega
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.study?.deliveryDays }}
                                </td>
                            </ng-container>
                            <!-- Price status -->
                            <ng-container matColumnDef="price">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Precio
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{
                                        row?.price
                                            | mask : 'separator.2'
                                            : {
                                                thousandSeparator: ',',
                                                prefix: '$',
                                            }
                                    }}
                                </td>
                            </ng-container>
                            <!-- Discount Detail -->
                            <ng-container matColumnDef="discount">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Descuento individual
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row?.discountPercentage + '%' }}
                                </td>
                            </ng-container>
                            <!-- Grand total -->
                            <ng-container matColumnDef="grandTotal">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Precio total
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{
                                        row.grandTotal
                                            | mask : 'separator.2'
                                            : {
                                                thousandSeparator: ',',
                                                prefix: '$',
                                            }
                                    }}
                                </td>
                            </ng-container>
                            <!-- change Study Status -->
                            <ng-container matColumnDef="changeStudyStatus">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Cambiar estado del estudio
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container
                                        *ngIf="
                                            orderDetail.order_status_id !== 2
                                        "
                                    >
                                        <button
                                            class="no-wrap"
                                            mat-stroked-button
                                            [color]="
                                                row.inProgress === true
                                                    ? 'warn'
                                                    : 'primary'
                                            "
                                            (click)="
                                                openChangeStudyStatusDialog(
                                                    orderDetail.order_id || '',
                                                    row.study_id.toString(),
                                                    row.inProgress
                                                )
                                            "
                                        >
                                            {{
                                                row.inProgress === true
                                                    ? 'Completar'
                                                    : 'Completado'
                                            }}
                                            <mat-icon
                                                *ngIf="row.inProgress === true"
                                            >
                                                cancel
                                            </mat-icon>
                                            <mat-icon
                                                *ngIf="row.inProgress === false"
                                            >
                                                task_alt
                                            </mat-icon>
                                        </button>
                                    </ng-container>
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                        <mat-paginator
                            pageSize="25"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page of users"
                        ></mat-paginator>
                    </mat-card>
                    <section class="studies__item studies__item--summary">
                        <section class="discounts">
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>
                                        Descuentos aplicados
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <ol>
                                        <li
                                            *ngFor="
                                                let discount of orderDetail.order_discounts
                                            "
                                        >
                                            {{ discount.name }}
                                            - {{ discount.discountPercentage }}%
                                        </li>
                                        <em
                                            *ngIf="
                                                orderDetail.order_discounts
                                                    ?.length === 0
                                            "
                                        >
                                            Sin descuentos agregados :(
                                        </em>
                                    </ol>
                                </mat-card-content>
                            </mat-card>
                        </section>
                        <!-- Summary of the order -->
                        <section>
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>
                                        Resúmen de la orden
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p class="summary-text">
                                        <span class="summary-text-container">
                                            <span class="summary-text-left">
                                                Total
                                            </span>
                                            <!-- TODO: Remove the || 0 conditoin, modify the interface -->
                                            <span class="summary-text-right">
                                                {{ orderDetail.total || 0 | mask
                                                    : 'separator.2'
                                                    : { thousandSeparator: ',', prefix: '$', }
                                                }}
                                            </span>
                                        </span>
                                    </p>
                                    <p class="summary-text">
                                        <span class="summary-text-container">
                                            <span class="summary-text-left">
                                                Subtotal
                                            </span>
                                            <span class="summary-text-right">
                                                {{ orderDetail.subtotal || 0 | mask
                                                    : 'separator.2'
                                                    : { thousandSeparator: ',', prefix: '$', }
                                                }}
                                            </span>
                                        </span>
                                    </p>
                                    <p class="summary-text">
                                        <span class="summary-text-container">
                                            <span class="summary-text-left">
                                                Descuentos
                                            </span>
                                            <span class="summary-text-right">
                                                {{ orderDetail.discount || 0 | mask
                                                    : 'separator.2'
                                                    : { thousandSeparator: ',', prefix: '$', }
                                                }}
                                            </span>
                                        </span>
                                    </p>
                                    <p class="summary-text">
                                        <span class="summary-text-container">
                                            <span class="summary-text-left">
                                                I.V.A.
                                            </span>
                                            <span class="summary-text-right">
                                                {{ orderDetail.sales_tax || 0 | mask
                                                    : 'separator.2'
                                                    : { thousandSeparator: ',', prefix: '$', }
                                                }}
                                            </span>
                                        </span>
                                    </p>
                                    <p class="summary-text summary-text--alt-1">
                                        <span class="summary-text-container">
                                            <span class="summary-text-left">
                                                Total a pagar
                                            </span>
                                            <span class="summary-text-right">
                                                {{ orderDetail.grand_total || 0 | mask
                                                    : 'separator.2'
                                                    : { thousandSeparator: ',', prefix: '$', }
                                                }}
                                            </span>
                                        </span>
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </section>
                    </section>
                </div>
            </mat-card>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>
