.modal {
    padding: 15px;
    position: relative;

    &-close {
        cursor: pointer;
        color: var(--brand-main);
        position: absolute;
        right: 15px;
        top: 15px;

        mat-icon {
            font-size: 24px;
        }
    }
}

.grid {
    &-actions {
        display: flex;
        justify-content: flex-end;
        padding: 15px;

        &__button {
            margin-left: 15px;
            width: 100%;
            max-width: 200px;

            &:first-child {
                margin: 0;
            }
        }
    }
}

.table-container {
    padding: 15px;
    margin-bottom: 20px;
}

.row-custom {
    display: flex;
    justify-content: space-between;
    .child {
        width: 450px;

        &:last-child {
            margin-left: 15px;
        }
    }
}

table {
    width: 100%;
  }
  .mat-cell {
    .table-error-message {
      color: var(--brand-secondary);
      font-size: 20px;
      font-weight: bold;
      padding: 15px;
    }
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-mdc-row {
    .mat-mdc-cell {
      cursor: pointer;
    }

    &:hover {
      .mat-mdc-cell {
        color: var(--white);
        border-color: transparent;
        background-color: var(--brand-main);
      }

      .cell-flex {
        color: var(--white);
      }
    }
  }

  // Only for different actions like delete action
  .cell-flex {
    color: var(--brand-secondary);
    display: flex;
    align-items: center;
  }

  .add-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
