<section class="modal">
    <div class="modal-close" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </div>
    <h2>CREAR {{ orderType | uppercase }}</h2>
    <mat-divider></mat-divider>
    <form [formGroup]="orderForm">
        <mat-stepper [linear]="false" #stepper formArrayName="formArray">
            <!-- Override the icons -->
            <ng-template matStepperIcon="orderType">
                <mat-icon>list_alt</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="studies">
                <mat-icon>science</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="payments">
                <mat-icon>paid</mat-icon>
            </ng-template>
            <!-- / Override the icons -->
            <!-- 1.- Elejir orden -->
            <mat-step
                formGroupName="0"
                [stepControl]="orderFormArray.get([0])!"
                label="Tipo de orden"
                state="orderType"
            >
                <section mat-dialog-content>
                    <h3>Seleccione si desea crear una orden o una cotizción</h3>
                    <mat-radio-group
                        aria-label="Select an option"
                        formControlName="orderType"
                    >
                        <div>
                            <mat-radio-button value="1">Orden</mat-radio-button>
                        </div>
                        <div>
                            <mat-radio-button value="2">
                                Cotización
                            </mat-radio-button>
                        </div>
                    </mat-radio-group>
                </section>
                <div mat-dialog-actions class="gråid-actions">
                    <button
                        class="grid-actions__button"
                        color="primary"
                        mat-flat-button
                        matStepperNext
                        [disabled]="orderFormArray.get([0])?.invalid"
                    >
                        SIGUIENTE
                    </button>
                </div>
            </mat-step>

            <!-- 2.- Tabla de estudios -->
            <mat-step
                formGroupName="1"
                [stepControl]="orderFormArray.get([1])!"
                label="Agregar estudios"
                state="studies"
            >
                <section mat-dialog-content>
                    <section formArrayName="studies">
                        <mat-form-field>
                            <mat-label>Búsqueda de estudios</mat-label>
                            <input
                                matInput
                                (keyup)="searchStudies($event)"
                                placeholder="Buscar estudios por ID, Nombre, correo electrónico o teléfono"
                                [formControl]="searchStudiesControl"
                                #input
                                [matAutocomplete]="auto"
                            />
                            <mat-icon matSuffix>search</mat-icon>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option
                                    class="study-search__item"
                                    *ngFor="let option of studiesFiltered"
                                    (click)="addStudy(option)"
                                >
                                    {{
                                        option.price
                                            | currency : 'MXN' : 'symbol'
                                    }}
                                    - {{ option.name | uppercase }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <div class="table-container mat-elevation-z8">
                            <h3>
                                Estudios agregados:
                                {{ studiesFormArray.length }}
                            </h3>
                            <hr />
                            <table mat-table [dataSource]="dataSource" matSort>
                                <!-- ID Column -->
                                <ng-container matColumnDef="study_id">
                                    <th
                                        mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        ID
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let row; let index = index"
                                    >
                                        {{ row.study_id }}
                                    </td>
                                </ng-container>
                                <!-- Study name Column -->
                                <ng-container matColumnDef="name">
                                    <th
                                        mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Nombre del estudio
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let row"
                                        style="width: 260px;"
                                    >
                                        {{ row.name }}
                                    </td>
                                </ng-container>
                                <!-- Alias Column -->
                                <ng-container matColumnDef="alias">
                                    <th
                                        mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Alias
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.alias }}
                                    </td>
                                </ng-container>
                                <!-- Price name Column -->
                                <ng-container matColumnDef="price">
                                    <th
                                        mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Precio
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let row; let index = index"
                                        [formGroupName]="index"
                                    >
                                        <input
                                            class="edit-cell"
                                            [ngClass]="{
                                                'edit-cell--no-border':
                                                    studiesFormArray
                                                        .get([index])
                                                        ?.get('isEditable')
                                                        ?.value === true
                                            }"
                                            matInput
                                            type="text"
                                            formControlName="price"
                                            [readonly]="
                                                !studiesFormArray
                                                    .get([index])
                                                    ?.get('isEditable')?.value
                                            "
                                            style="width: 50px;"
                                            prefix="$ "
                                            mask="separator.2"
                                            thousandSeparator=","
                                        />
                                    </td>
                                </ng-container>
                                <!-- Discount percentage Column -->
                                <ng-container matColumnDef="discountPercentage">
                                    <th
                                        mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        % Descuento
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let row; let index = index"
                                        [formGroupName]="index"
                                    >
                                        <input
                                            class="edit-cell"
                                            [ngClass]="{
                                                'edit-cell--no-border':
                                                    studiesFormArray
                                                        .get([index])
                                                        ?.get('isEditable')
                                                        ?.value === true
                                            }"
                                            matInput
                                            type="text"
                                            formControlName="discountPercentage"
                                            [readonly]="
                                                !studiesFormArray
                                                    .get([index])
                                                    ?.get('isEditable')?.value
                                            "
                                            style="width: 50px;"
                                        />
                                    </td>
                                </ng-container>
                                <!-- Grand Total price Column -->
                                <ng-container matColumnDef="grandTotal">
                                    <th
                                        mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Precio total
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <strong>
                                            {{
                                                row.grandTotal
                                                    | currency
                                                        : 'MXN'
                                                        : 'symbol'
                                                        : '1.2-2'
                                            }}
                                        </strong>
                                    </td>
                                </ng-container>
                                <!-- Delivery days Column -->
                                <ng-container matColumnDef="deliveryDays">
                                    <th
                                        mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Días de entrega
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.deliveryDays }}
                                    </td>
                                </ng-container>
                                <!-- Edit/Delete column -->
                                <ng-container matColumnDef="editDelete">
                                    <th
                                        mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Acciones
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let row; let i = index"
                                    >
                                        <button
                                            mat-icon-button
                                            matTooltip="Editar"
                                            color="primary"
                                            (click)="editStudy(i)"
                                        >
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                        <button
                                            mat-icon-button
                                            class="material-icons app-toolbar-menu delete-button"
                                            matTooltip="Eliminar"
                                            color="accent"
                                            (click)="removeAt(i)"
                                        >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <!-- Delete column -->
                                <tr
                                    mat-header-row
                                    *matHeaderRowDef="displayedColumns"
                                ></tr>
                                <tr
                                    mat-row
                                    *matRowDef="
                                        let row;
                                        columns: displayedColumns
                                    "
                                ></tr>
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">
                                        <div class="table-error-message">
                                            No hay estudios agregados :(
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </section>
                    <section class="row-custom" *ngIf="studiesFormArray.length">
                        <!-- Descuentos agregados: -->
                        <section class="child">
                            <app-discounts
                                [discountsOptionsList]="discounts"
                                (sendDiscountsForm)="setDiscountsForm($event)"
                            ></app-discounts>
                        </section>
                        <!-- RESUMEN DE LA ORDEN: -->
                        <section class="child">
                            <app-order-summary></app-order-summary>
                        </section>
                    </section>
                </section>
                <div mat-dialog-actions class="grid-actions">
                    <button
                        class="grid-actions__button"
                        color="primary"
                        mat-stroked-button
                        matStepperPrevious
                    >
                        ATRÁS
                    </button>
                    <button
                        class="grid-actions__button"
                        color="primary"
                        mat-flat-button
                        matStepperNext
                        [disabled]="orderFormArray.get([1])?.invalid"
                    >
                        CONTINUAR AL PAGO
                    </button>
                </div>
            </mat-step>

            <!-- 3.- Pagos -->
            <mat-step
                label="Pago"
                state="payments"
                formGroupName="2"
                [stepControl]="orderFormArray.get([2])!"
            >
                <section mat-dialog-content>
                    <h3>Seleccione si desea crear una orden o una cotizción</h3>
                    <p>Si un usuario tiene adeudos anteriores no liquidados el sistema no dejará que pueda hacer más de un pago, es decir tendrá que liquidar el total de sus estudios, en un solo pago.</p>
                    <section class="add-container">
                        <button
                            class="add-button"
                            color="primary"
                            mat-raised-button
                        >
                            <mat-icon>add</mat-icon>
                            AGREGAR PAGO
                        </button>
                    </section>
                    <section class="row">
                        <app-payment></app-payment>
                        <app-payment></app-payment>
                    </section>
                </section>
                <div mat-dialog-actions class="grid-actions">
                    <button
                        class="grid-actions__button"
                        color="primary"
                        mat-stroked-button
                        matStepperPrevious
                    >
                        ATRÁS
                    </button>
                    <button
                        class="grid-actions__button"
                        color="primary"
                        mat-flat-button
                        (click)="stepper.reset()"
                    >
                        CREAR [ORDER|QUOTE]
                    </button>
                </div>
            </mat-step>
        </mat-stepper>
    </form>
</section>
