.modal {
    padding: 15px;
    position: relative;

    &-close {
        cursor: pointer;
        color: var(--brand-main);
        position: absolute;
        right: 15px;
        top: 15px;

        mat-icon {
            font-size: 24px;
        }
    }
}

.grid {
    &-actions {
        display: flex;
        justify-content: flex-end;
        padding: 15px;

        &--space {
            justify-content: space-between;
        }

        &__button {
            margin-left: 15px;
            width: 100%;
            min-width: 200px;
            max-width: 200px;

            &:first-child {
                margin: 0;
            }
        }
    }
}

.table-container {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.row {
    width: 100% ;
    margin-bottom: 15px;

    &--space {
        display: flex;
        justify-content: space-between;
    }

    &--tar {
        text-align-last: right;
    }
}

.actions {
    display: flex;
}

.row-custom {
    display: flex;
    justify-content: space-between;

    .child {
        width: 450px;

        &:last-child {
            margin-left: 15px;
        }
    }
}

table {
    width: 100%;
}

.mat-cell {
    .table-error-message {
        color: var(--brand-secondary);
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
    }
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-mdc-row {
    .mat-mdc-cell {
        cursor: pointer;
    }

    &:hover {
        .mat-mdc-cell {
            // color: var(--white);
            // border-color: transparent;
            // background-color: rgba(55, 54, 52, 0.7);
        }

        .cell-flex {
            color: var(--white);
        }
    }
}

// Only for different actions like delete action
.cell-flex {
    color: var(--brand-secondary);
    display: flex;
    align-items: center;
}

.add-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.edit-cell {
    border: 0;

    &--no-border {
        padding: 5px;
        border: 1px solid var(--brand-third);
    }
}

.no-payments {
    color: rgba(#373634, 0.4);
    margin: 50px auto;
    text-align: center;
    font-size: 26px;
    max-width: 500px;
    line-height: 1.5;
}

.total {
    color: var(--brand-main);
    display: inline-block;
    font-size: 28px;
    margin-bottom: 30px;
}

.custom-date {
    display: flex;
    width: 250px;
}
