<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" opened mode="side">
        <mat-list>
            <img
                class="sidenav-img"
                src="../../assets/images/Logo horizontal negativo - Biotecsa.png"
                alt="Laboratorios Biotecsa"
            />
        </mat-list>
        <mat-nav-list>
            <a
                class="mat-list-item"
                mat-list-item
                [routerLink]="item.url"
                *ngFor="let item of menu"
            >
                <span class="mat-list-item__container">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <span class="mat-list-item__text">
                        {{ item.title }}
                    </span>
                </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
