@import 'colors';

.wrapper {
    display: flex;
    justify-content: space-between;
}

.container {
    margin-left: 20px;
    padding-left: 20px;
}

.circle {
    background-color: $white;
    border-radius: 50%;
    border: 2px solid $brand-main;
    height: 20px;
    left: -33px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

.subtitle {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
}

.comment {
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 5px;
}

.date {
    color: $black-40;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 20px;
}

.delete {
    color: var(--brand-secondary);
    cursor: pointer;
    display: grid;
    place-content: center;
    width: 30px;

    &:hover {
        background-color: rgba(#E35A6B, 0.2);
    }
}
