.home {
  &-header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &-logo {
    &__img {
      width: 100%;
      max-width: 250px;
    }
  }

  &-nav {
    margin: 0;
    padding: 0;
  }

  &-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    &__item { }

    &__link {
      padding: 20px;
      text-decoration: none;
      &:visited {
        color: inherit;
      }
    }
  }
}
