@import 'colors';

.header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 15px 28px;

    &-logo__logo {
        height: auto;
        max-width: 300px;
    }

    &-menu {
        color: var(--brand-third);
        font-size: 16px;
        font-weight: 700;
    }

    &-menu-list {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        gap: 30px;
        margin: 0;
        padding: 0;

        &__item {
            .anchor {
                color: $brand-third;
                padding: 16px 24px;
                text-decoration: none;

                &:link, &:visited, &:active {
                    color: $brand-third;
                    text-decoration: none;
                }

                &:hover {
                    background-color: rgba($brand-main, 0.75);
                    border-radius: 4px;
                    color: $white;
                }
            }
        }
    }
}

.footer {
    color: $white;
    padding: 26px 28px;
    background-color: var(--brand-third);

    &-container {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
    }

    &-logo-menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 18px;
        gap: 40px;
    }

    &-logo {
        height: auto;
        max-width: 300px;
    }

    &-menu__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;

        &__item {
            .anchor {
                color: $white;
                padding: 16px 24px;
                text-decoration: underline;

                &:link, &:visited, &:active {
                    color: $white;
                    text-decoration: underline;
                }
            }
        }
    }

    &-social {
        margin-bottom: 18px;
    }

    &-social-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-info {
        margin-bottom: 18px;
        text-align: center;
        font-size: 9px;

        &__link {
            color: var(--brand-secondary);
        }
    }
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;

    &-container {
        cursor: pointer;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        overflow: hidden;
    }

    &__logo {
        width: 100%;
    }
}
