<section class="layout">
    <header class="header">
        <div class="header-logo-container">
            <img
                class="header-logo__logo"
                src="../../../assets/images/biotecsa-logo.png"
                alt="Logo Laboratorios Biotecsa"
            />
        </div>
        <div class="header-menu-container">
            <div class="header-menu">
                <ul class="header-menu-list">
                    <li
                        class="header-menu-list__item"
                        *ngFor="let item of menu"
                    >
                        {{ item.name }}
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main">
        <router-outlet></router-outlet>
    </main>
    <footer class="footer">
        <section class="footer-logo-menu">
            <div class="footer-logo-container">
                <img
                    class="footer-logo"
                    src="../../../assets/images/biotecsa-logo-white.png"
                    alt="Laboratorios Biotecsa logo"
                />
            </div>
            <div class="footer-menu-container" style="border: 1px dottet red;">
                <ul class="footer-menu__list">
                    <li
                        class="footer-menu__list__item"
                        *ngFor="let item of footerMenu"
                    >
                        {{ item.name }}
                    </li>
                </ul>
            </div>
        </section>
        <section class="footer-social">
            <div class="footer-social-container">
                <img
                    class="footer-social__logo"
                    src="../../../assets/images/facebook-logo.png"
                    alt=""
                />
            </div>
        </section>
        <section class="footer-info">
            Creado por:
            <a class="footer-info__link" href="">Enrique Tecayehuatl</a>
            - &reg; {{ currentYear }}
        </section>
    </footer>
    <div class="whatsapp">
        <div class="whatsapp-container">
            <img
                class="whatsapp__logo"
                src="../../../assets/images/whatsapp-icon.png"
                alt="Whatsapp logo"
            />
        </div>
    </div>
</section>
