<section class="layout">
    <header class="header">
        <div class="header-logo-container">
            <img
                class="header-logo__logo"
                src="../../../assets/images/biotecsa-logo.png"
                alt="Logo Laboratorios Biotecsa"
            />
        </div>
        <div class="header-menu-container">
            <div class="header-menu">
                <ul class="header-menu-list">
                    <li
                        class="header-menu-list__item"
                        *ngFor="let item of menu"
                    >
                        <ng-container *ngIf="item.hash">
                            <a class="anchor" href="{{ item.url }}">
                                {{ item.name }}
                            </a>
                        </ng-container>
                        <ng-container *ngIf="!item.hash">
                            <a class="anchor" [routerLink]="item.url">
                                {{ item.name }}
                            </a>
                        </ng-container>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main">
        <router-outlet></router-outlet>
    </main>
    <footer class="footer">
        <section class="footer-container">
            <section class="footer-logo-menu">
                <div class="footer-logo-container">
                    <img
                        class="footer-logo"
                        src="../../../assets/images/biotecsa-logo-white.png"
                        alt="Laboratorios Biotecsa logo"
                    />
                </div>
                <div class="footer-menu-container">
                    <ul class="footer-menu__list">
                        <li
                            class="footer-menu__list__item"
                            *ngFor="let item of footerMenu"
                        >
                            <ng-container *ngIf="item.hash">
                                <a class="anchor" href="{{ item.url }}">
                                    {{ item.name }}
                                </a>
                            </ng-container>
                            <ng-container *ngIf="!item.hash">
                                <a class="anchor" [routerLink]="item.url">
                                    {{ item.name }}
                                </a>
                            </ng-container>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="footer-social">
                <div class="footer-social-container">
                    <a
                        href="https://www.facebook.com/BiotecsaLab"
                        target="_blank"
                    >
                        <img
                            class="footer-social__logo"
                            src="../../../assets/images/facebook-logo.png"
                            alt=""
                        />
                    </a>
                </div>
            </section>
            <section class="footer-info">
                Creado por:
                <a
                    class="footer-info__link"
                    href="https://tecayehuatl.com"
                    target="_blank"
                >
                    Enrique Tecayehuatl
                </a>
                - &reg; {{ currentYear }}
            </section>
        </section>
    </footer>
    <div class="whatsapp">
        <div class="whatsapp-container">
            <a
                href="https://wa.me/525517298887?text=%C2%A1Hola%2C%20me%20gustar%C3%ADa%20una%20cotizaci%C3%B3n%21"
                target="_blank"
            >
                <img
                    class="whatsapp__logo"
                    src="../../../assets/images/whatsapp-icon.png"
                    alt="Whatsapp logo"
                />
            </a>
        </div>
    </div>
</section>
