@import 'colors';

.hero {
    box-sizing: border-box;

    &-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      min-height: 600px;
      position: relative;
    }

    &-image-container {
      bottom: 0;
      position: absolute;
      right: 0;

        &__image {
          display: block;
          width: 440px;
        }
    }

    &__title {
      color: $brand-third;
      font-size: 52px;
      font-weight: bolder;
      line-height: 1.5;
      margin-bottom: 30px;
      margin-top: 160px;
      max-width: 770px;
    }
}

.separator {
  background-color: $brand-main;
  height: 80px;
  margin-bottom: 48px;
  width: 100%;
}

.about-us {
  box-sizing: border-box;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  position: relative;

    &__title {
      color: $brand-secondary;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;

        &--alt-1 {
          text-align: right;
        }
    }

    &__subtitle {
      color: $brand-third;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
    }

    &-values {
        &-container {
          align-content: stretch;
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          gap: 0;
          height: 322px;
          justify-content: flex-end;
          margin-left: auto;
          max-width: 650px;
        }

        &__value {
          color: $gray-soft;
          display: grid;
          height: 160px;
          place-items: center;
          text-align: center;
          width: 160px;

          &:nth-child(odd)  {
            background-color: $brand-main;
          }

          &:nth-child(even)  {
            background-color: $brand-third;
          }
        }
    }

    &-worker {
      position: absolute;
      bottom: 0;
      left: 0;

        &__image {
          display: block;
          width: 250px;
        }
    }
}

.location {
  box-sizing: border-box;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;

    &__title {
      color: $brand-secondary;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;
    }
}
