<section class="hero">
    <div class="hero-container">
        <h1 class="hero__title">
            ¡Si cuidas de tu salud, cuidas a los que mas amas!
        </h1>
        <div class="hero-button-container">
            <a
                class="hero-button-container__button"
                mat-raised-button
                color="primary"
                aria-label="Chat por whatsapp"
                href="https://wa.me/525517298887?text=%C2%A1Hola%2C%20me%20gustar%C3%ADa%20una%20cotizaci%C3%B3n%21"
                target="_blank"
            >
                Cotiza tus estudios
            </a>
        </div>
        <div class="hero-image-container">
            <img
                class="hero-image-container__image"
                src="../../../assets/images/trabajadores-salud-1.png"
                alt="Personal de medicina"
            />
        </div>
    </div>
</section>
<div class="separator"></div>
<section id="about-us" class="about-us">
    <div class="about-us-container">
        <h2 class="about-us__title">ACERCA DE NOSOSTROS</h2>
        <div *ngFor="let description of descriptions">
            <h3 class="about-us__subtitle">{{ description.title }}</h3>
            <p>{{ description.description }}</p>
        </div>
    </div>
    <div class="about-us-values">
        <h2 class="about-us__title about-us__title--alt-1">NUESTROS VALORES</h2>
        <div class="about-us-values-container">
            <div
                class="about-us-values__value"
                *ngFor="let value of companyValues"
            >
                <p class="about-us-values__value__title">{{ value.name }}</p>
            </div>
        </div>
    </div>
    <div class="about-us-worker">
        <img
            class="about-us-worker__image"
            src="../../../assets/images/trabajadores-salud-2.png"
            alt="Trabajadores de la salud"
        />
    </div>
</section>
<section id="locate-me" class="location">
    <div class="location-container">
        <h2 class="location__title">UBÍCANOS</h2>
        <div class="location-map">
            <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d796.3903711642275!2d-98.30550621479846!3d19.16681314757739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc55e2665a131%3A0x2b72c16be54b4d63!2sBiotecsa%20An%C3%A1lisis%20Cl%C3%ADnicos!5e0!3m2!1ses-419!2smx!4v1720328276129!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
