@import 'colors';

.hero {
    box-sizing: border-box;

    &-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      min-height: 600px;
      padding: 0 30px;
      position: relative;
    }

    &-image-container {
      bottom: 0;
      position: absolute;
      right: 0;

        &__image {
          display: block;
          width: 440px;
        }
    }

    &__title {
      color: $brand-third;
      font-size: 52px;
      font-weight: bolder;
      line-height: 1.5;
      margin-bottom: 30px;
      margin-top: 160px;
      max-width: 770px;
    }
}

.separator {
  background-color: $brand-main;
  height: 80px;
  margin-bottom: 48px;
  width: 100%;
}

.about-us {
  box-sizing: border-box;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  position: relative;

    &__title {
      color: $brand-secondary;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;

        &--alt-1 {
          text-align: right;
        }
    }

    &__subtitle {
      color: $brand-third;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
    }

    &-values {
        &-container {
          align-content: stretch;
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          gap: 0;
          height: 322px;
          justify-content: flex-end;
          margin-left: auto;
          max-width: 650px;
        }

        &__value {
          color: $gray-soft;
          display: grid;
          height: 160px;
          place-items: center;
          text-align: center;
          width: 160px;

          &:nth-child(odd)  {
            background-color: $brand-main;
          }

          &:nth-child(even)  {
            background-color: $brand-third;
          }
        }
    }

    &-worker {
      position: absolute;
      bottom: 0;
      left: 0;

        &__image {
          display: block;
          width: 250px;
        }
    }
}

.location {
  box-sizing: border-box;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;

    &__title {
      color: $brand-secondary;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;
    }
}

// Graceful degradation technique, order matters
@media screen and (width <= 1399px) {
}

@media screen and (width <= 991px) {
    .hero {

        &-container {
            min-height: 500px;
            margin: 0;
            max-width: 100%;
        }

        &__title {
            margin: 0;
            line-height: 1.3;
            margin-bottom: 38px;
            position: relative;
            z-index: 2;
        }

        &-image {
            &-container {
                &__image {
                    width: 230px;
                }
            }
        }
    }

    .separator {
        height: 40px;
    }

    .about-us {
        min-width: 100%;

        &-container {
            max-width: 100%;
            padding: 0 30px;
        }
        &__title {
            &--alt-1 {
                text-align: left;
            }
        }

        &-values {
            padding: 0 30px;

            &-container {
                height: auto;
                justify-content: center;
                max-width: 100%;
                gap: 5px;
            }
        }

        &-worker {
            display: none;
            left: 0;
        }
    }

    .location {
        margin-bottom: 60px;
        min-width: 100%;
        padding: 0 30px;

        .iframe {
            max-width: 100%;
            width: 100%;
        }
    }
}
