@font-face {
  font-family: 'LEMON MILK Pro';
  src: url('./../fonts/LemonMilkProBold.otf');
  src: url('./../fonts/LemonMilkProBold.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'LEMON MILK Pro';
  src: url('./../fonts/LemonMilkProMedium.otf');
  src: url('./../fonts/LemonMilkProMedium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LEMON MILK Pro';
  src: url('./../fonts/LemonMilkProRegular.otf');
  src: url('./../fonts/LemonMilkProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LEMON MILK Pro';
  src: url('./../fonts/LemonMilkProUltraLight.otf');
  src: url('./../fonts/LemonMilkProUltraLight.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'LEMON MILK Pro';
  src: url('./../fonts/LemonMilkProUltraLightItalic.otf');
  src: url('./../fonts/LemonMilkProUltraLightItalic.woff') format('woff');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'PTSerif';
  src: url('./../fonts/PTSerif-Bold.ttf');
  src: url('./../fonts/PTSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url('./../fonts/PTSerif-Regular.ttf');
  src: url('./../fonts/PTSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url('./../fonts/PTSerif-Italic.ttf');
  src: url('./../fonts/PTSerif-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
